<h2>Your Cities</h2>

<section class="row">
  <div class="col-4">
    <form>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Options</label>
        <select
          class="form-select"
          id="inputGroupSelect01"
          name="termino"
          [(ngModel)]="termino"
          (change)="search()"
        >
          <option *ngFor="let city of citiesArray">
            {{ city.name }}
          </option>
        </select>
      </div>
    </form>
  </div>
</section>

<hr />

<section class="row">
  <div class="col-4" *ngFor="let city of citiesResults">
    <article class="card" style="width: 25rem ">
      <div class="card-body">
        <h5 class="card-title text-center">{{ city.name }}</h5>

        <div class="temp">
          <p>{{changeCurrentTemp(city.main.temp, currentTemp)}}°</p>
          <div class="degrees">
            <button (click)="changeDegrees('c')">C</button>
            <button (click)="changeDegrees('f')">F</button>
            <button (click)="changeDegrees('k')">K</button>
          </div>
        </div>

        <div class="temp-img">
          <img src="../../../../assets/icons/hotWeather.svg" class="card-img-top" alt="weather" />
          <p>Hot</p>
        </div>

        <a href="#" class="btn btn-primary">Update</a>
      </div>
    </article>
  </div>
</section>


<div *ngIf="Error" class="alert alert-danger">
  No se encontro la ciudad {{ termino }}
</div>
